/* UnauthHome.css */
  
.unAuthHomepage {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .unAuthHomepage h1 {
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
  }
  .unAuthHomepage h3 {
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
  }

  .unAuthHomepage p{
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
  }
  
  .unAuthHomepage a {
    display: block;
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #4caf50;
    border-radius: 4px;
  }
  
  .unAuthHomepage a:hover {
    background-color: #45a049;
  }
  

  .search{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;  
  }

  .search button{
    background-color: #4caf50;
    border: none;
    color: white;

  }
  .search button:hover{
    background-color: #45a049;
  }
 


.searchResults {
  margin-top: 20px;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: white;
}

/* Expanded information styles */
.expandedInfo {
  background-color: #f9f9f9;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
}

.expandedInfo p {
  margin: 0;
}

/* Style for alternate rows */
table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover effect for clickable rows */
table tbody tr:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}

.expandedInfo {
  background-color: #f9f9f9;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
}

.expandedInfo p {
  margin: 0;
}